@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("/fonts/Montserrat-SemiBold.woff2") format("woff2"),
         url("/fonts/Montserrat-SemiBold.woff") format("woff");
  }
@font-face {
    font-family: "Poppins-Regular";
    src: url("./fonts/Poppins-Regular.woff2") format("woff2"),
         url("./fonts/Poppins-Regular.woff") format("woff");
  }
@font-face {
    font-family: "Poppins-SemiBold";
    src: url("./fonts/Poppins-SemiBold.woff2") format("woff2"),
         url("./fonts/Poppins-SemiBold.woff") format("woff");
  }
@font-face {
    font-family: "PTSerif-Bold";
    src: url("./fonts/PTSerif-Bold.woff2") format("woff2"),
         url("./fonts/PTSerif-Bold.woff") format("woff");
  }
@font-face {
    font-family: "PTSerif-Regular";
    src: url("./fonts/PTSerif-Regular.woff2") format("woff2"),
         url("./fonts/PTSerif-Regular.woff") format("woff");
  }


body {
    margin: 0;
}
header {
    h1 {
        padding-top: 17px;
        padding-left: 12px;
        padding-bottom: 38px;
        margin: 0;
        font-family: "PTSerif-Bold";
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: -0.045em;
        color: #000000;
    }
    h3 {
        font-family: "Poppins-SemiBold";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        text-transform: uppercase;
        color: #000000;
        margin: 0;
        padding-left: 12px;
        padding-bottom: 10px;
    }
    p {
        padding-left: 12px;
        max-width: 333px;
        font-family: "Poppins-Regular";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
        margin: 0;
    }
}
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    section {
        ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            li {
                list-style: none;
                img {
                    max-width: 250px;
                }
            }
            li:nth-of-type(2) {
                writing-mode: vertical-rl;
                text-orientation: mixed;
                // font-family: PT Serif;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 16px;
                text-transform: uppercase;
                color: #000000;
            }
        }
        a {
            font-family: "Poppins-SemiBold";
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            color: #000000;
        }
    }
}

@media(min-width: 720px) {
    .container {
        max-width: 960px;
        margin: auto;
    }
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 110px;
        h1 {
            padding-top: 0;
            padding-left: 0;
            padding-bottom: 0;
        }
        h3 {
            padding-left: 0;
        }
        p {
            padding-left: 0;
            max-width: 439px;
            font-size: 18px;
            margin: 0;
            padding-bottom: 96px;
        }
    }
    main {
        section {

        }
    }
}